.searchInputContainer {
  text-align: center;
}

.searchInput {
  width: 400px;
  height: 40px;
  border: 0.5px solid transparent;
  border-radius: 6px;
  background-color: rgb(68, 16, 151, 0.4);
  color: whitesmoke;
  padding: 0px 10px;
  margin-bottom: 15px;
}

.searchInput:focus {
  outline: none;
  width: 450px;
  height: 50px;
  font-size: 110%;
}

.searchInput::placeholder {
  color: whitesmoke;
}

@media only screen and (max-width: 572px) {
  .searchInput {
    width: 80%;
  }
}
