body {
  background-image: linear-gradient(
    to left,
    #8046dd,
    #6e3ac1,
    #5d2fa5,
    #4c248b,
    #3c1a71
  );
}

.title {
  color: white;
  text-align: center;
  font-size: 48px;
}

.container {
  border-radius: 10px;
  text-align: center;
  margin: auto 25%;
  /* background-color: rgba(244, 244, 244, 0.1); */
}
